body{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.Weather-App{
     background: white;
     max-width: 600px;
     margin: 30px auto;
     box-shadow: 0 30px 50px rgba(65,50,100,0.08);
     border-radius: 10px;
     padding: 30px;

}
.search-form-input{
    background-color:rgb(231, 132, 132);
    border: none;
    border-radius: 7px;
    width: 70%;
    font-size: 18px;
    padding: 16px 21px;

}
.search-button{
    background:rgba(231,132,132) ;
    padding:16px 21px ;
    border: none;
    margin-left: 11px;
    border-radius: 7px;
    color: whitesmoke;
    font-size: 18px;
}
header{
    border-bottom: 1px solid rgba(231,132,132);
    padding: 0 0 31px 0;

}
footer{
    border-top:1px solid rgb(231, 132, 132) ;
    padding: 31px 0 0 0;
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    font-weight: bold;
}
a{
    color: rgb(231, 132, 132);
}
main{
    padding: 31px 0;
}
.app-data{
    display: flex;
    justify-content: space-between;
}
.app-city{
    margin: 0;
    font-size: 38px;
    line-height: 49px;
}
.app-details{
    font-size: 18px;
    line-height: 20px;
    color: rgb(103, 98, 98);
}
.app-details strong{
    color: rgb(231, 132, 132);
}
.temperature-container{
    display: flex;
}
.app-temperature{
    font-size: 89px;
    font-weight: bold;
    margin-left: 15px;
}
.app-icon{
    font-size: 45px;
    margin-top: 11px;
}
.app-unit{
    margin-top: 33px;
    font-size: 29px;
}